
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body
{
  font-size: 20px;
  overflow-x: hidden;
  color: #fff;
}

header
{
}

#media
{
  display: none;
}

.row
{
  max-width: 1180px;
  margin: 0 auto;
}
.logo
{
  height: 70px;
  width: auto;
  float: left;
  margin-top: 20px;
}
.logo2
{
  height: 70px;
  width: auto;
  float: right;
  margin-top:30px;
}
.main-nav
{
  float: center;
  margin-top: 20px;
}
.main-nav li
{
  display: inline-block;
  list-style: none;
  margin-left: 40px;
}
.main-nav li a
{
  padding: 5px 0;
 font-family: 'Jura', sans-serif;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 70%;

}
.main-nav li a:hover
{
  border-bottom: 2px solid #812044;
}
.clearfix:after
{
  content: ".";
  visibility: hidden;
  display: block;
  height: 0px;
  clear: both;
}


.mobile-icon{display: none;}

/*Responsive Query*/



@media only screen and (max-width: 768px)
{
  .main-nav
  {
    display:none;
  }

  .mobile-icon
  {
    display: inline-block;
    color: #fff;
    float: right;
    margin-top:5px;
    margin-right:10px; 
  }

  .main-nav{float: left;}

  .main-nav li
  {
    display:block;
    margin-right: 1px;
    margin-top: 10px;
  }
  
}

  


@media only screen and (max-width: 320px)
{

  
  .main-nav li
  {
    display:block;
    margin-top: 5px;
  }

}


